* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#websocket-chat {
    width: 90%;
    max-width: 600px;
    min-height: 450px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

h2 {
    font-size: 18px;
    background-color: #5c67f2;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

#chatlist {
    overflow-y: auto;
    max-height: 400px;
    min-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#feedback {
    background: #f9f9f9;
    padding: 5px;
    text-align: center;
    color: #aaa;
}


button {
    background: #5c67f2;
    color: #fff;
    border: none;
}

.chat__bubble {
    margin: 5px 10px;
    position: relative;
}

.chat__bubble--sent, .chat__bubble--received {
    display: inline-flex;
    flex-direction: column;
    max-width: 75%;
}

.chat__bubble--received {
    align-self: flex-start;
}

.chat__bubble--sent {
    align-self: flex-end;
}

.chat__message--received, .chat__message--sent {
    padding: 10px 20px;
    border-radius: 18px;
    color: white;
    font-size: 16px;
}

.chat__message--received {
    background-color: #4ac18e;
    align-self: flex-start;
}

.chat__message--sent {
    background-color: #f77e5e;
    z-index: 2;
    align-self: flex-end;
}

.chat__message--receiver, .chat__message--sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat__message--receiver {
    align-self: flex-start;
}

.chat__message--sender {
    align-self: flex-end;
}

.input__area {
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.input__area--handle {
  flex: 0 0 15%;
  max-width: 15%;
  border: 1px solid #ccc ;
}
.input__area--message {
  flex: 1;
  border: 1px solid #ccc
}
.button__chat--send {
  flex: 0 0 15%;
}